/* GENERAL */
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
/* HEADER */
header {
  width: 980px;
  margin: 0 auto 32px;
}
/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  padding-right: 20px;
}
nav ul li {
  list-style: none;
  padding: 8px 8px;
}
nav ul li a {
  text-decoration: none;
  color: #717e8f;
  font-size: 14px;
}
/* LOGO */
.container {
  border-top: 1px solid #dfe3ed;
  border-bottom: 1px solid #dfe3ed;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
  padding: 0 20px;
}
.container img {
  width: 230px;
}
/* Menu */
.menu {
  margin-left: auto;
}
.menu a {
  text-decoration: none;
  color: #000;
  padding-right: 24px;
}
/* button */
.button {
  background: rgba(255, 0, 0, 0.15);
  height: 40px;
  display: flex;
  line-height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
}
.button a {
  color: red;
  text-decoration: none;
}
/* MAIN */
main {
  margin-top: 64px;
}
/* BARRA*/

.search-section {
  display: flex;
  width: 940px;
  margin: 0 auto 64px;
  justify-content: space-around;
  border: 1px solid #dfe3ed;
  border-radius: 4px;
  padding: 20px 8px;
}

button {
  width: 64px;
  height: 48px;
  border-radius: 4px;
  background: #f9423a;
  align-self: flex-end;
}

.search-section input {
  border: 1px solid #dfe3ed;
  border-radius: 4px;
  height: 48px;
  padding: 0 64px;
}
.search h5 {
  padding: 0 4px 12px;
}
.explore {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 52px;
}
.explore h2 {
  font-size: 20px;
  color: #717e8f;
}
/* SECTION */
.row-section {
  margin: 32px auto;
  display: flex;
  width: 980px;
}
.single-section {
  width: calc(940px / 4);
  height: 148px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin: 8px;
  flex-direction: column;
  justify-content: space-between;
}
.motori {
  background: #2650ff;
}
.market {
  background: #f2a700;
}
.immobili {
  background: #9924ff;
}
.lavoro {
  background: #07bb9c;
}
.img img {
  margin: 16px 28px;
}
.single-section button {
  width: 100%;
  height: 32px;
  color: #fff;
  border: 1px solid #fff;
}
/* TUTTO SUBITO */
.tutto-subito {
  width: 940px;
  display: flex;
  margin: 12px auto;
  justify-content: space-between;
}
.ts {
  width: calc(100% / 3);
  margin: 12px;
}
.ts p {
  color: #717e8f;
}
.img-ts img {
  width: 100%;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
}
.message a {
  color: red;
  text-decoration: none;
}
.img-ts {
  display: flex;
  flex-direction: column;
  position: relative;
}
.img-ts a {
  background: red;
  padding: 0 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* COMINCIA A GUADAGNARE */
.comincia-guadagnare {
  width: 940px;
  display: flex;
  margin: 12px auto;
  border-radius: 4px;
  border: 1px solid #717e8f;
}
.cg {
  width: calc(100% / 3);
  display: flex;
  position: relative;
}
.cg img {
  width: 100%;
}
.cg .button {
  position: absolute;
  top: 50%;
  left: 64px;
}

/* INFO 1 */
.info1 {
  width: 940px;
  display: flex;
  margin: 12px auto;
}
.inf {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info2 {
  width: 940px;
  display: flex;
  margin: 12px auto;
}
