/* GENERAL */
* {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
body {
  width: 980px;
  margin: 0 auto;
}
/* HEADER */
header {
  width: 100%;
  margin: 0 auto 32px;
}
/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  display: flex;
  padding-right: 20px;
}
nav ul li {
  list-style: none;
  padding: 8px 8px;
}
nav ul li a {
  text-decoration: none;
  color: #717e8f;
  font-size: 14px;
  border-right: 1px solid #717e8f;
  padding-right: 10px;
}

/* LOGO */
.container {
  border-top: 1px solid #dfe3ed;
  border-bottom: 1px solid #dfe3ed;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 80px;
  padding: 0 20px;
}
.container img {
  width: 230px;
}
/* Menu */
.menu {
  margin-left: auto;
}
.menu a {
  text-decoration: none;
  color: #000;
  padding-right: 24px;
}
/* button */
.button span {
  color: red;
}

.button {
  background: rgba(255, 0, 0, 0.15);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid transparent;
}
.button a {
  color: red;
  text-decoration: none;
}
.box1 {
  width: 940px;
  margin: 0 auto;
}
/* SEARCH SECTION */
.search-section {
  display: flex;
  width: 100%;
  margin: 0 auto 24px;
  justify-content: space-around;
  border: 1px solid #dfe3ed;
  border-radius: 4px;
  padding: 16px 24px;
}
.search span {
  color: #7a7c7f;
}
.container-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #dfe3ed;
  border-radius: 4px;
}
.button-search {
  width: 64px;
  height: 48px;
  border-radius: 4px;
  background: #f9423a;
  align-self: flex-end;
}
.material-symbols-outlined {
  /* icona search */
  padding: 12px 20px;
  color: #fff;
}
.search-section input {
  border: 1px solid transparent;
  width: 100%;
  padding: 0 12px;
}
.search h5 {
  padding: 0 4px 12px;
}
.explore {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 52px;
}
.explore h2 {
  font-size: 20px;
  color: #717e8f;
}
/* ROW SECTION */
.row-section {
  margin: 32px auto;
  display: flex;
  width: 100%;
}
.single-section {
  width: calc(100% / 4);
  height: 148px;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  margin: 8px;
  flex-direction: column;
  justify-content: space-between;
}
.motori {
  background: #2650ff;
}
.market {
  background: #f2a700;
}
.immobili {
  background: #9924ff;
}
.lavoro {
  background: #07bb9c;
}
.img img {
  margin: 20px 28px;
}
.single-section button {
  width: 100%;
  height: 32px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* TUTTO SUBITO */
.tutto-subito {
  width: 100%;
  height: 216px;
  display: flex;
  margin: 12px auto;
  justify-content: space-between;
}
.ts {
  width: calc(100% / 3);
  margin-left: 16px;
}
.ts p {
  color: #717e8f;
}
.ts-img.section {
  width: 100%;
  display: flex;
}
.img-ts {
  width: calc(100% / 2);
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 24px;
}
.img-ts.pay {
  background-image: url(./img/pay.webp);
}
.img-ts.sell {
  background-image: url(./img/sell.webp);
}
.message {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.message a {
  color: #f9423a;
  text-decoration: none;
}

.img-ts a {
  background: #f9423a;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
/* COMINCIA A GUADAGNARE */
.comincia-guadagnare {
  width: 100%;
  display: flex;
  margin: 12px auto;
  border-radius: 8px;
  border: 1px solid #dfe3ed;
}
.cg {
  width: calc(100% / 3);
  display: flex;
  position: relative;
}
.cg img {
  width: 100%;
  border-radius: 8px;
}
.cg .button {
  position: absolute;
  top: 50%;
  left: 64px;
}
.button:hover {
  border: 1px solid #f9423a;
}
/* INFO 1 */
.information {
  width: 100%;
  display: flex;
  margin: 16px auto;
  justify-content: space-between;
  text-decoration: none;
}
.immage1 {
  width: 70%;
  height: 308px;
  background-image: url(./img/HP_BOX_earth_day_20220426.jpg);
  background-size: cover;
  display: flex;
  border-radius: 8px;
}
.immage2 {
  width: 100%;
  height: 160px;
  background-image: url(./img/ald-2life.png);
  background-size: cover;
  display: flex;
  border-radius: 8px;
}
.info .message {
  display: flex;
  align-self: center;
}
.inf-message {
  margin-left: 20px;
}
.inf-message h2 {
  color: #3c4858;
  padding: 12px 0;
}
.inf-message p {
  color: #717e8f;
}
.inf-message h4 {
  text-transform: uppercase;
  color: red;
  font-size: 12px;
  padding-bottom: 24px;
}
.inf-message h5 {
  font-size: 16px;
  color: #551a8b;
  padding-top: 24px;
}
/* AFFARI SICURI */
.affari-sicuri {
  width: 100%;
  background: #f7f8fb;
  padding: 24px;
}
.affari-sicuri-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.affari-sicuri h2 {
  text-align: left;
  padding: 12px 0;
  color: #3c4858;
  font-size: 18px;
}
.af h4 {
  color: #3c4858;
  padding: 8px 12px 0 8px;
}
.af p {
  color: #fa7772;
  /* margin-top: 12px; */
  padding: 8px 12px;
}
.af {
  border: 2px solid #fff;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  height: 250px;
  margin: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.af.box1 {
  background-image: url(./img/safety1.webp);
}
.af.box2 {
  background-image: url(./img/safety2.webp);
}
.af.box3 {
  background-image: url(./img/safety3.webp);
}
/* BOX 2 */
.box2 {
  padding-bottom: 64pxpx;
  border-bottom: 1px solid #ebedf3;
}
/* SCARICA APP */
.scarica-app {
  background: #f7f8fb;
  margin: 64px 16px;
  padding: 24px;
}
.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-section h2 {
  font-size: 18px;
  color: #3c4858;
  padding: 12px;
}
.app-section p {
  color: #808c9b;
  font-size: 14px;
}
.icons-section {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}
.icons-section div {
  padding: 12px;
}
/* SCOPRI DI PIU */
.scopri-di-piu {
  padding: 64px 0;
  border-bottom: 1px solid #ebedf3;
}
.scopri-title {
  color: #3c4858;
  font-size: 21px;
  margin-bottom: 16px;
}
.title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 12px;
}
.t-motori {
  color: #486bff;
}
.t-market {
  color: #f2a700;
}
.t-immobili {
  color: #9924ff;
}
.t-lavoro {
  color: #07bb9c;
}
.container1 {
  margin-bottom: 12px;
}
.container1 a {
  text-decoration: none;
  color: #828e9d;
}
.sec-tit {
  display: block;
  color: #3c4858;
  margin-bottom: 16px;
}
/* FOOTER */
footer {
  padding: 64px 0;
}
/* LINK */
.links {
  display: flex;
  justify-content: space-between;
}
.link {
  display: flex;
  flex-direction: column;
}

.links h5 {
  color: #7a7c7f;
  font-size: 16px;
  padding: 0 0 8px;
}

.link a {
  margin: 8px 0;
  text-decoration: none;
  color: #717e8f;
  font-size: 14px;
}
.footer-bottom {
  margin: 64px 0;
  text-align: center;
}
.footer-bottom img {
  width: 136px;
  height: 32px;
}
.footer-bottom p {
  margin: 20px 0;
  font-size: 14px;
}
